%body.home
  %div.jumbotron 
    %div.container{ :style => "text-align: left;"}
      %h1{ :style => "font-family: 'Montserrat Alternates', san-serif;"} Sort Me Silly
      %p
        Your personal DJ Suite for Spotify!
      %p
        %div.brighten
          = link_to( image_tag("log_in-desktop-large.png"), "/auth/spotify")

#footer.navbar.navbar-fixed-bottom
  .container
    %p
      Powered by
      = link_to "Spotify", "http://www.spotify.com", :target => "_blank"
      and
      = link_to "The Echo Nest.", "http://the.echonest.com", :target => "_blank"
      Created by
      = link_to "Jeff Liu.", "http://last.fm/user/emperorliu", :target => "_blank"