/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body
  padding-bottom: 40px

.tablesorter tr.selected-row td
  background-color: #81b900

.tablesorter.tablesorter-default tbody > tr.selected-row:hover > td
  background-color: #81b900

// .tablesorter.tablesorter-default tbody > tr:hover > td
//   background-color: #d1edbb

.tablesorter.tablesorter-default
  font: 15px/18px 'Exo 2', sans-serif

.tablesorter.tablesorter-default th, .tablesorter.tablesorter-default thead td
  font: 14px/18px 'Montserrat', sans-serif

@mixin centered_dialog($percentage)
  width: $percentage                  // this line and the next are
  left: (100% - $percentage) / 2      // basically what we have seen before
  position: fixed                     // this is to enforce the fixed position
    
.dialog
  padding: 10px 14px
  position: fixed
  top: 40px
  background-color: #daf893
  box-shadow: 0px 3px 3px #777
  border-radius: 2px
  margin-left: auto
  margin-right: auto
  z-index: 20
  opacity: 0.85
  text-align: center
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 17px
  &:hover
    opacity: 1
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s

  @include centered_dialog(27%)

@media screen and (max-width: 800px)
  .dialog
    @include centered_dialog(55%)
    
@media screen and (max-width: 500px)
  .dialog
    @include centered_dialog(80%)
        

body.home
  background-image: image-url("Robot-Djs.jpg")
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: 'Exo 2', sans-serif

div.jumbotron
  background-color: transparent

body
  background-color: #eeeeee
  height: 100%

a
  color: #81b900

div.container
  text-align: center
  margin-top: 80px

h2
  display: inline-block

h5
  font-size: 14px

div#header
  background-color: black
  /*Opacity start*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  filter: alpha(opacity=80)
  -moz-opacity: 0.80
  -khtml-opacity: 0.8
  opacity: 0.71
  /*Opacity end*/
  color: white
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 70px
  padding: 0
  margin: 0

span.navbar-title
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 24px

div#header-content
  margin: 10px

div.brighten
  -webkit-filter: brightness(100%)
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  -ms-transition: all 1s ease
  transition: all 1s ease
  &:hover
    -webkit-filter: brightness(130%)

input.create_playlist:focus
  border-color: none
  outline: 0
  -webkit-box-shadow: none
  box-shadow: none

div.faq
  font-weight: 200
  width: 50%

span.bold
  font-weight: bold

.tablesorter-default
  text-align: center

.tablesorter-default th
  text-align: center

.tablesorter-default .tablesorter-filter-row .disabled
  display: none

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+2) .tablesorter-filter
  width: 180px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+3) .tablesorter-filter
  width: 150px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+4) .tablesorter-filter
  width: 79px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+5) .tablesorter-filter
  width: 73px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+6) .tablesorter-filter
  width: 73px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+7) .tablesorter-filter
  width: 73px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+8) .tablesorter-filter
  width: 73px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+9) .tablesorter-filter
  width: 73px
  text-align: center
  font-weight: normal
  font-style: italic

.tablesorter-default .tablesorter-filter-row td:nth-child(11n+10) .tablesorter-filter
  width: 75px
  text-align: center
  font-weight: normal
  font-style: italic

div.save.brighten:active
  opacity: 0.3
  -webkit-transition: none
  -moz-transition: none
  -ms-transition: none
  -o-transition: none
  transition: none
